footer{
    display: inline-block;
    text-align: justify;
    border: solid;
    border-color: black;
    border-width: thin;
    padding: 10px;
    padding-left: 44%;
    padding-right: 44%;
    margin: 20px;
    margin-top: 30px;
}