a{
    display: inline-block;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    padding-left: 20px;
    margin: 1%;
    margin-bottom: 3%;
    color: black;
    width: 100px;
    font-size: large;   
}
a#Inicio{
    padding: 10px;
    padding-left: 15px;
}
h1{
    display: inline-block;
    margin-left: 1%;
    max-height: 2%;
}